$logoColorDark: #092a6d;
$logoColorLight: #88a8F9;
$defaultTextColor: #4a4a4a;

// Examples of where these are used:
// * weak: a table row background
// * focus: a table row in focus, or a table header bottom border
// * hard: text, or a table-header bottom border

$weakGray: #efefef;

$weakGreen: #e3f7df;
$focusGreen: #c4fca5;
$hardGreen: #76ce46;

$weakRed: #efd2d4;
$focusRed: #f08481;
$hardRed: #c33b34;

$weakYellow: #fef5a2;
$focusYellow: #fcf8a2;
// no hardYellow
